@import "tailwindcss";

:root {
  --background: #ffffff; /* Fondo claro */
  --foreground: #171717; /* Texto oscuro */
  --font-sans: Arial, Helvetica, sans-serif;
  --font-mono: "Courier New", Courier, monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}

/* Modo oscuro basado en preferencia del usuario */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a; /* Fondo oscuro */
    --foreground: #363333; /* Texto claro */
  }
}

/* Aplicar los colores y fuentes a todo el cuerpo */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

/* Personalizar los colores para Tailwind */
@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
  }
  /* Puedes agregar más reglas personalizadas si lo deseas */
}
